@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  background-color: #EFF3EA;
  overflow-x: hidden;
}

#root{
  width: 100%;
  display: flex;
  flex-direction: column;
}
