@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0%;
  display: flex;
  /* background-color: #EFF3EA; */
  overflow-x: hidden;
  font-family: "Poppins", serif;
}

#root{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.custom-border-minus{
  border-radius: 0px !important;
  border-width: 0px !important;
  box-shadow: none !important;
}